.massmapper-draw-text {
    border: 0;
    font-size: 2em;
    background: 0;
    box-shadow: none;
}

.massmapper-draw-text-bold {
    font-weight: bold;
}

.massmapper-draw-text-italic {
    font-style: italic;
}

.massmapper-draw-text-small {
    font-size: 14px;
}

.massmapper-draw-text-medium {
    font-size: 18px;
}

.massmapper-draw-text-large {
    font-size: 24px;
}

.massmapper-draw-text-FFFFFF {
    color: #FFFFFF;
}

.massmapper-draw-text-D7C29E {
    color: #D7C29E;
}

.massmapper-draw-text-686868 {
    color: #686868;
}

.massmapper-draw-text-FFBEBE {
    color: #FFBEBE;
}

.massmapper-draw-text-FE0108 {
    color: #FE0108;
}

.massmapper-draw-text-FFD380 {
    color: #FFD380;
}

.massmapper-draw-text-FFFC01 {
    color: #FFFC01;
}

.massmapper-draw-text-55FD00 {
    color: #55FD00;
}

.massmapper-draw-text-00C5FF {
    color: #00C5FF;
}

.massmapper-draw-text-005CE6 {
    color: #005CE6;
}

.massmapper-draw-text-C627FF {
    color: #C627FF;
}

.massmapper-draw-text-000000 {
    color: #000000;
}